@charset "UTF-8";
/*ЦВЕТА*/
/*ГЛОБАЛЬНЫЕ КЛАССЫ*/
.highlight {
  color: #2961AB;
}

/*ШРИФТЫ*/
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C";
  src: local("Core Sans C 75ExtraBold"), url("../fonts/CoreSansC-75ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/*ШРИФТ*/
/*
p {
  @include montserrat(400); // Regular
}

h1 {
  @include montserrat(700); // Bold
}

button {
  @include montserrat(500); // Medium
}*/
.container {
  /*background-color: lightblue;*/
}
@media (max-width: 576px) {
  .container {
    /* background-color: lightgreen;*/
  }
}
@media (max-width: 768px) {
  .container {
    /*  background-color: lightcoral;*/
  }
}
@media (max-width: 992px) {
  .container {
    /* background-color: lightpink;*/
  }
}
@media (max-width: 1200px) {
  .container {
    /* background-color: lightgoldenrodyellow;*/
  }
}

.header.active,
.header .navbar {
  background-color: #2961AB;
  border-radius: 0 0 25px 25px;
}
.header.active {
  padding-bottom: 20px;
}
.header .navbar {
  max-width: 1400px;
  margin: auto;
}
.header .navbar-nav {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 150%;
}
.header .navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
  color: #FFFFFF;
}
.header .navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__button {
  border: 1px solid #fff;
  border-radius: 27px;
  padding: 8px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  transition: 0.2s;
}
.header__button:hover {
  background-color: #FFFFFF;
  color: #2961AB;
}
.header__nav-text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
@media (max-width: 992px) {
  .header .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header .show .header__buttons {
    order: 1;
    padding-top: 10px;
  }
  .header .show .navbar-nav {
    order: 2;
    margin-right: auto;
  }
  .header .show .header__button {
    border: 1px solid #67B3A5;
    color: #67B3A5;
  }
  .header .header__burger {
    display: flex;
    z-index: 2;
  }
  .header .header__burger-icon {
    z-index: 2;
    border: transparent;
    background: transparent;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }
  .header path {
    transition: transform 0.25s;
  }
  .header .active path:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: -1px 3px;
  }
  .header .active path:nth-of-type(2) {
    display: none;
  }
  .header .active path:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 0px 13px;
  }
}

.footer {
  color: #FFFFFF;
  background-color: #2961AB;
  border-radius: 25px 25px 0 0;
  max-width: 1400px;
  padding: 50px;
  margin: 50px auto 0;
}
.footer h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
}
.footer a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .small {
  font-size: 12px;
}
.footer .small a {
  font-size: 12px;
}
.footer__social {
  padding-left: 0;
  list-style: none;
}
.footer__social-icon {
  filter: invert(1);
}
@media (max-width: 992px) {
  .footer .copywriter {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .footer .registration-form__button {
    width: 100%;
  }
}

.button {
  padding: 12px 24px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.button--white {
  background-color: #FFFFFF;
  color: #2961AB;
}
.button--white:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.25);
}
.button--white--transparent {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.button--black--transparent {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
}
.button--blue {
  background-color: #2961AB;
  color: #FFFFFF;
}
.button--blue:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}
.button--blue--transparent {
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

.registration-form__button {
  padding: 12px 24px;
  border-radius: 5px;
  border: 1px solid #2961AB;
  cursor: pointer;
}
.registration-form__button--white--transparent {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .subscribe {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
.subscribe h2 {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .subscribe h2 {
    font-size: 40px;
  }
}
.subscribe p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .subscribe p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .section-faq-title {
    margin: 50px 0;
  }
}
.section-faq-title__img {
  width: 100%;
}
@media (max-width: 992px) {
  .section-faq-title__img {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .section-faq-title__img-block {
    display: none;
  }
}

.card-group {
  overflow: hidden;
  text-align: center;
  padding: 62px 0;
}
.card-group__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .card-group__title {
    font-size: 30px;
  }
}
.card-group__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-group__item {
  text-align: center;
  padding: 20px;
}
.card-group__item-image {
  margin-bottom: 24px;
}
.card-group__item-title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 24px;
}
.card-group__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.card-group__item-link {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  cursor: pointer;
  color: #2961AB;
}
.card-group__item-link:after {
  content: "";
  position: absolute;
  display: block;
  top: 23%;
  left: 100%;
  background: url("../img/arrow_link.svg") no-repeat;
  margin: 0 8px;
  width: 100%;
  height: 100%;
}
.card-group__item-link:hover {
  text-decoration: underline;
}

.insert {
  margin: 32px 0;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
}
@media (max-width: 992px) {
  .insert {
    padding: 20px;
  }
}
.insert__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .insert__description {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .insert .registration-form__button {
    width: 100%;
  }
}

/* СЕКЦИЯ FAQ */
.section-faq {
  overflow: hidden;
  text-align: left;
  position: relative;
  color: #000000;
}
.section-faq__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .section-faq__title {
    font-size: 30px;
  }
}
.section-faq__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .section-faq__subtitle {
    font-size: 16px;
  }
}

/* Контент FAQ */
.faq-content {
  border-radius: 25px;
  padding: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
  margin: 60px 0;
}
@media (max-width: 992px) {
  .faq-content {
    padding: 20px;
  }
}
.faq-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.faq-content-li {
  border-top: 1px solid #000000;
  padding: 23px 0;
}
@media (max-width: 992px) {
  .faq-content-li {
    padding: 15px 0;
  }
}
.faq-content-li:not(.active) .faq-content-text {
  display: none;
}
.faq-content-li:not(.active) .footer-submenu-ul {
  display: none;
}
.faq-content-li.active .faq-title {
  fill: #000000;
  color: #000000;
}
.faq-content-li.active .faq-title svg {
  overflow: visible;
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}
.faq-content-text {
  width: 92%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-top: 23px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/* Заголовки FAQ */
.faq-title {
  display: flex;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
}
.faq-title p {
  width: 92%;
  margin: 0;
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
}
.faq-title:hover {
  color: #2961AB;
}

/* Группа кнопок FAQ */
.faq-button-group {
  margin-top: 30px;
  color: #000000;
}
.faq-button-group__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .faq-button-group__title {
    font-size: 30px;
  }
}
.faq-button-group__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .faq-button-group__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .faq-button-group__button {
    flex-wrap: wrap;
  }
}

.registration-form__input {
  font-size: 16px;
  padding: 12px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
}
.registration-form__input--white-transparent {
  border-color: #FFFFFF;
  background: transparent;
}
.registration-form__input--white-transparent::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.registration-form__input--black-transparent {
  border-color: #000000;
  background: transparent;
}
.registration-form__input--black-transparent::placeholder {
  color: #666666;
  font-size: 16px;
}

/*
@import 'global';
@import 'mixins';
@import 'blocks/footer';
@import 'blocks/buttons';
@import 'blocks/card';
@import 'blocks/hero';
@import 'blocks/form';
@import 'blocks/grid';
@import 'pages/home';
@import 'pages/about';
@import 'pages/services';
@import 'pages/contact';
@import 'responsive';*/

/*# sourceMappingURL=style.css.map */
