@charset "UTF-8";
/*ЦВЕТА*/
/*ГЛОБАЛЬНЫЕ КЛАССЫ*/
.highlight {
  color: #2961AB;
}

.highlight-white {
  color: #FFFFFF;
}

.min-w-250 {
  min-width: 250px;
}

/*ШРИФТЫ*/
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C";
  src: local("Core Sans C 75ExtraBold"), url("../fonts/CoreSansC-75ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/*ШРИФТ*/
/*
p {
  @include montserrat(400); // Regular
}

h1 {
  @include montserrat(700); // Bold
}

button {
  @include montserrat(500); // Medium
}*/
.container {
  /*background-color: lightblue;*/
}
@media (max-width: 576px) {
  .container {
    /* background-color: lightgreen;*/
  }
}
@media (max-width: 768px) {
  .container {
    /*  background-color: lightcoral;*/
  }
}
@media (max-width: 992px) {
  .container {
    /* background-color: lightpink;*/
  }
}
@media (max-width: 1200px) {
  .container {
    /* background-color: lightgoldenrodyellow;*/
  }
}

.header.active,
.header .navbar {
  background-color: #2961AB;
  border-radius: 0 0 25px 25px;
}
.header.active {
  padding-bottom: 20px;
}
.header .navbar {
  max-width: 1400px;
  margin: auto;
}
.header .navbar-nav {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 150%;
}
.header .navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
  color: #FFFFFF;
}
.header .navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__button {
  border: 1px solid #fff;
  border-radius: 27px;
  padding: 8px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  transition: 0.2s;
}
.header__button:hover {
  background-color: #FFFFFF;
  color: #2961AB;
}
.header__nav-text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
@media (max-width: 992px) {
  .header .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header .show .header__buttons {
    order: 1;
    padding-top: 10px;
  }
  .header .show .navbar-nav {
    order: 2;
    margin-right: auto;
  }
  .header .show .header__button {
    border: 1px solid #67B3A5;
    color: #67B3A5;
  }
  .header .header__burger {
    display: flex;
    z-index: 2;
  }
  .header .header__burger-icon {
    z-index: 2;
    border: transparent;
    background: transparent;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }
  .header path {
    transition: transform 0.25s;
  }
  .header .active path:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: -1px 3px;
  }
  .header .active path:nth-of-type(2) {
    display: none;
  }
  .header .active path:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 0px 13px;
  }
}

.footer {
  color: #FFFFFF;
  background-color: #2961AB;
  border-radius: 25px 25px 0 0;
  max-width: 1400px;
  padding: 50px;
  margin: 50px auto 0;
}
.footer h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
}
.footer a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .small {
  font-size: 12px;
}
.footer .small a {
  font-size: 12px;
}
.footer__social {
  padding-left: 0;
  list-style: none;
}
.footer__social-icon {
  filter: invert(1);
}
@media (max-width: 992px) {
  .footer .copywriter {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .footer .registration-form__button {
    width: 100%;
  }
}

.button {
  padding: 12px 24px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.button--white {
  background-color: #FFFFFF;
  color: #2961AB;
}
.button--white:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.25);
}
.button--white--transparent {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.button--black--transparent {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
}
.button--no-border {
  position: relative;
  border: none;
  background-color: transparent;
  color: #000000;
}
.button--no-border:after {
  content: "";
  position: absolute;
  display: block;
  top: 40%;
  left: 100%;
  background: url("/img/arrow_link.svg") no-repeat;
  width: 100%;
  height: 100%;
}
.button--blue {
  background-color: #2961AB;
  color: #FFFFFF;
}
.button--blue:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}
.button--blue--transparent {
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

.registration-form__button {
  padding: 12px 24px;
  border-radius: 5px;
  border: 1px solid #2961AB;
  cursor: pointer;
}
.registration-form__button--white--transparent {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .subscribe {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
.subscribe h2 {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .subscribe h2 {
    font-size: 40px;
  }
}
.subscribe p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .subscribe p {
    font-size: 16px;
  }
}

/*@use 'pages/about1';*/
.stars_bg {
  background: url("../img/stars_bg.svg") no-repeat;
  background-position: 35% center;
}

.w-80 {
  width: 80%;
}

.blog2 .card-group__item {
  position: relative;
}
.blog2 .card-group__item:after {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-weight: 800;
  font-size: 150px;
  line-height: 130%;
  text-align: right;
  color: #2961AB;
  position: absolute;
  right: 30px;
  top: -20%;
}
.blog2 .card-group__item:nth-child(1)::after {
  content: "1";
}
.blog2 .card-group__item:nth-child(2)::after {
  content: "2";
}
.blog2 .card-group__item:nth-child(3)::after {
  content: "3";
}

.stars_bg2 {
  background: url("../img/stars_bg2.svg") no-repeat;
  background-position: 35% center;
}

.blue-divider {
  height: 50px;
  background: url("../img/relumewebflow.svg") repeat-x center, #2961AB;
}

.banner-block-consultation {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 992px) {
  .banner-block-consultation {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.banner-block-consultation__wrapper {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.banner-block-consultation__img-stars-bot {
  position: absolute;
  bottom: -24px;
  left: -24px;
  width: 100px;
}
.banner-block-consultation__img-stars-top {
  position: absolute;
  top: -24px;
  right: -24px;
  width: 100px;
}

.unique-testimonial {
  background-color: #1e56a0;
  padding: 64px 0 123px;
  border-radius: 25px;
}
.unique-testimonial .testimonial-card {
  background: #fff;
  border-radius: 25px;
  padding: 50px 50px 0 50px;
  text-align: center;
}
@media (max-width: 992px) {
  .unique-testimonial .testimonial-card {
    padding: 10px;
  }
}
.unique-testimonial .testimonial-card .rating {
  color: #007bff;
  margin: 10px 0;
}
.unique-testimonial .testimonial-card .testimonial-text {
  font-size: 16px;
  font-weight: bold;
}
.unique-testimonial .testimonial-card .testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.unique-testimonial .testimonial-card .testimonial-author img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.unique-testimonial .testimonial-card .testimonial-author .author-info {
  text-align: left;
}
.unique-testimonial .testimonial-card .testimonial-author .author-info .name {
  font-weight: bold;
}
.unique-testimonial .testimonial-card .testimonial-author .author-info .company {
  font-size: 14px;
  color: #666;
}

.unique-testimonial .custom-testimonials__card {
  margin: 0;
  margin-bottom: 30px;
  min-height: auto;
  max-width: 80%;
  box-shadow: none;
  background: #FFFFFF;
}
.unique-testimonial .Webflow {
  width: 120px;
  border-left: 1px solid black;
  padding-left: 20px;
  border-radius: 0;
}
.unique-testimonial .carousel-control-prev {
  z-index: 2 !important;
  justify-content: flex-start;
  left: 30px !important;
  top: calc(100% - 23px) !important;
}
@media (max-width: 992px) {
  .unique-testimonial .carousel-control-prev {
    left: 0 !important;
  }
}
.unique-testimonial .carousel-control-next {
  z-index: 2 !important;
  right: 50% !important;
  top: calc(100% - 23px) !important;
}
@media (max-width: 992px) {
  .unique-testimonial .carousel-control-next {
    right: 0 !important;
  }
}
.unique-testimonial .carousel-indicators {
  bottom: calc(0% - 10px) !important;
  right: calc(-50% + 100px) !important;
  margin-bottom: 0 !important;
  margin-left: 65px;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .unique-testimonial .carousel-indicators {
    right: 0 !important;
  }
}
.unique-testimonial .carousel-control-next-icon {
  background-image: url("../img/arrow-gley-right.svg") !important;
}
.unique-testimonial .carousel-control-prev-icon {
  background-image: url("../img/arrow-grey-left.svg") !important;
}
.unique-testimonial .custom-testimonials__look-all {
  color: #FFFFFF;
  margin-top: 30px;
  cursor: pointer;
  margin-left: auto;
  max-width: 200px;
}
@media (max-width: 992px) {
  .unique-testimonial .custom-testimonials__look-all {
    position: absolute;
    top: 40px;
    margin: auto;
  }
}
.unique-testimonial .carousel-indicators [data-bs-target] {
  background-color: #bfbfbf;
}
.unique-testimonial .carousel-indicators .active {
  background-color: #FFFFFF !important;
}

.video-placeholder {
  width: 100%;
  height: 500px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  position: relative;
}
@media (max-width: 992px) {
  .video-placeholder {
    height: 300px;
  }
}
.video-placeholder .play-button {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}
.video-placeholder .play-button i {
  color: #000 !important;
  font-size: 24px;
}
.video-placeholder .play-button:hover {
  background: rgb(255, 255, 255);
}

.view-project-block {
  padding-top: 64px;
  padding-bottom: 64px;
}
.view-project-block__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 50px;
}
.view-project-block__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.view-project-block__dropcap::first-letter {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: inline-block;
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-2);
  padding: 2px 26px;
  border-radius: 25px;
  font-size: 64px;
  line-height: 150%;
  float: left;
  margin-top: 10px;
}

.banner-block {
  padding-top: 64px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .banner-block {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
.banner-block__wrapper {
  padding: 170px 0px;
  border-radius: 25px;
  background-color: #fafaff;
  background-image: url("../img/banner_bg-bot.svg"), url("../img/banner_bg-top.svg");
  background-position: bottom -30px left -30px, top -30px right -30px;
  background-repeat: no-repeat;
  background-size: 200px;
}
@media (max-width: 992px) {
  .banner-block__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: 150px;
  }
}
.banner-block__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
}
.banner-block__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.banner-block-tabs {
  gap: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner-block-tabs__item {
  box-shadow: inset 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 12px 24px;
  background-color: #fafaff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.custom-testimonials {
  text-align: center;
  padding: 50px 0;
}
.custom-testimonials__title {
  text-align: left;
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .custom-testimonials__title {
    text-align: center;
  }
}
.custom-testimonials__subtitle {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 0;
  width: 50%;
}
@media (max-width: 992px) {
  .custom-testimonials__subtitle {
    width: 100%;
    text-align: center;
  }
}
.custom-testimonials__look-all {
  cursor: pointer;
  display: block;
  margin-left: auto;
  max-width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: -25px;
  text-align: right;
  color: #000000;
  font-size: 18px;
  line-height: 150%;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .custom-testimonials__look-all {
    text-align: center;
    margin: 0 auto 40px;
  }
}
.custom-testimonials .carousel {
  position: relative;
}
.custom-testimonials__card {
  padding: 20px;
  border-radius: 15px;
  min-height: 300px;
  max-width: 500px;
  margin: 25px auto;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
}
.custom-testimonials__stars {
  color: #2961AB;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.custom-testimonials__text {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.custom-testimonials__footer {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.custom-testimonials__footer img {
  height: 30px;
}
.custom-testimonials__author {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 41px;
  background: #FFFFFF;
  width: 100%;
}
.custom-testimonials__author img {
  width: 56px;
  height: 56px;
  border-radius: 80px;
}
.custom-testimonials__author-avatar {
  width: 56px !important;
  height: 56px;
  border-radius: 80px;
}
.custom-testimonials__author-timer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  position: relative;
  margin-left: 5px;
}
.custom-testimonials__author-timer:before {
  content: "•";
  top: 0;
  left: -6px;
  position: absolute;
}
.custom-testimonials__name {
  font-weight: bold;
  display: block;
}
.custom-testimonials__position {
  font-size: 0.9rem;
  color: #666;
}

.carousel-control-prev {
  z-index: 3 !important;
  left: 50% !important;
  top: calc(-100% - 30px) !important;
}
@media (max-width: 992px) {
  .carousel-control-prev {
    left: 0 !important;
  }
}

.carousel-control-next {
  z-index: 3 !important;
  right: 100px !important;
  top: calc(-100% - 30px) !important;
}
@media (max-width: 992px) {
  .carousel-control-next {
    right: 0 !important;
  }
}

.carousel-indicators {
  bottom: calc(100% - 5px) !important;
  right: calc(-50% + 100px) !important;
  margin-bottom: 0 !important;
}
@media (max-width: 992px) {
  .carousel-indicators {
    right: 0 !important;
  }
}

.carousel-control-next-icon {
  background-image: url("../img/arrow-gley-right.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("../img/arrow-grey-left.svg") !important;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px !important;
  height: 20px !important;
  border-radius: 100% !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #d9d9d9 !important;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6sease;
}

.carousel-indicators .active {
  background-color: #2961AB !important;
}

@media (max-width: 992px) {
  .section-faq-title {
    margin: 50px 0;
  }
}
.section-faq-title__img {
  width: 100%;
}
@media (max-width: 992px) {
  .section-faq-title__img {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .section-faq-title__img-block {
    display: none;
  }
}

.card-group {
  overflow: hidden;
  text-align: center;
  padding: 62px 0;
}
.card-group__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .card-group__title {
    font-size: 30px;
  }
}
.card-group__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.card-group__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-group__image {
  border-radius: 25px;
  width: 100%;
}
.card-group__item {
  text-align: center;
  padding: 20px;
}
.card-group__item-wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: #fafaff;
  border-radius: 25px;
  padding: 32px;
  height: 100%;
}
.card-group__item-wrapper-text {
  background: #fafaff;
  border-radius: 25px;
  height: 100%;
  padding: 10px 0;
  position: relative;
  margin-top: -25px;
}
.card-group__item-image {
  margin-bottom: 24px;
}
.card-group__item-title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 24px;
}
.card-group__item-subtitle {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 120%;
  text-align: right;
  padding: 48px 0 16px;
}
.card-group__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.card-group__item-link {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  cursor: pointer;
  color: #2961AB;
}
.card-group__item-link:after {
  content: "";
  position: absolute;
  display: block;
  top: 23%;
  left: 100%;
  background: url("../img/arrow_link.svg") no-repeat;
  margin: 0 8px;
  width: 100%;
  height: 100%;
}
.card-group__item-link:hover {
  text-decoration: underline;
}

.insert {
  margin: 32px 0;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
}
@media (max-width: 992px) {
  .insert {
    padding: 20px;
  }
}
.insert__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .insert__title {
    font-size: 30px;
  }
}
.insert__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .insert__description {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .insert .registration-form__button {
    width: 100%;
  }
}

/* СЕКЦИЯ FAQ */
.section-faq {
  overflow: hidden;
  text-align: left;
  position: relative;
  color: #000000;
}
.section-faq__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .section-faq__title {
    font-size: 30px;
  }
}
.section-faq__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .section-faq__subtitle {
    font-size: 16px;
  }
}

/* Контент FAQ */
.faq-content {
  border-radius: 25px;
  padding: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
  margin: 60px 0;
}
@media (max-width: 992px) {
  .faq-content {
    padding: 20px;
  }
}
.faq-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.faq-content-li {
  border-top: 1px solid #000000;
  padding: 23px 0;
}
@media (max-width: 992px) {
  .faq-content-li {
    padding: 15px 0;
  }
}
.faq-content-li:not(.active) .faq-content-text {
  display: none;
}
.faq-content-li:not(.active) .footer-submenu-ul {
  display: none;
}
.faq-content-li.active .faq-title {
  fill: #000000;
  color: #000000;
}
.faq-content-li.active .faq-title svg {
  overflow: visible;
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}
.faq-content-text {
  width: 92%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-top: 23px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/* Заголовки FAQ */
.faq-title {
  display: flex;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
}
.faq-title p {
  width: 92%;
  margin: 0;
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
}
.faq-title:hover {
  color: #2961AB;
}

/* Группа кнопок FAQ */
.faq-button-group {
  margin-top: 30px;
  color: #000000;
}
.faq-button-group__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .faq-button-group__title {
    font-size: 30px;
  }
}
.faq-button-group__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .faq-button-group__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .faq-button-group__button {
    flex-wrap: wrap;
  }
}

.wrapper-blue {
  background-color: #2961AB;
}

/*Секция текстовая блог низ*/
.marketing-block {
  padding: 112px 0;
}
.marketing-block__wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
  border-radius: 25px;
  overflow: hidden;
}
.marketing-block__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .marketing-block__title {
    font-size: 30px;
  }
}
.marketing-block__subtitle {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
}
.marketing-block__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.marketing-block__card {
  height: 100%;
  background: #fafaff;
  padding: 18px;
  border-radius: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}
.marketing-block__card--insert {
  height: 100%;
  background: #fafaff;
  padding: 18px;
  border-radius: 25px;
  box-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.marketing-block__card-title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
}
.marketing-block__card-title-fs96 {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-weight: 800;
  line-height: 140%;
  font-size: 96px;
}
.marketing-block__image {
  max-width: 100%;
  border-radius: 25px;
}
.marketing-block__image-wrapper-right {
  max-width: 100%;
  border-radius: 0 0 0 100px;
}
@media (max-width: 992px) {
  .marketing-block__image-wrapper-right {
    display: none;
  }
}
.marketing-block__image-wrapper-left {
  max-width: 100%;
  border-radius: 0 100px 0 0;
}
@media (max-width: 992px) {
  .marketing-block__image-wrapper-left {
    display: none;
  }
}

/*секция со слайдером*/
.card-slider {
  overflow: hidden;
  text-align: center;
  padding: 62px 0;
}
.card-slider__title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .card-slider__title {
    font-size: 30px;
  }
}
.card-slider__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
.card-slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-slider__image {
  border-radius: 25px;
  width: 100%;
}
.card-slider__item {
  text-align: center;
  padding: 20px;
}
.card-slider__item-tab {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
  border-radius: 5px;
  padding: 4px 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin-right: 16px;
}
.card-slider__item-timer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
.card-slider__item-wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: #fafaff;
  border-radius: 25px;
  padding: 32px;
  height: 100%;
}
.card-slider__item-wrapper-text {
  background: #fafaff;
  border-radius: 25px;
  height: 100%;
  padding: 10px 0;
  position: relative;
  margin-top: -25px;
}
.card-slider__item-image {
  margin: -32px -32px 24px -32px;
}
.card-slider__item-title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 24px;
}
.card-slider__item-subtitle {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 120%;
  text-align: right;
  padding: 48px 0 16px;
}
.card-slider__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.card-slider__item-link {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
.card-slider__item-link:after {
  content: "";
  position: absolute;
  display: block;
  top: 24%;
  left: 100px;
  background: url("../img/arrow_link.svg") no-repeat;
  margin: 0 8px;
  width: 100%;
  height: 100%;
  filter: invert(1) grayscale(1) brightness(0);
}
.card-slider__item-link:hover {
  text-decoration: underline;
}

.owl-nav {
  position: absolute;
  display: flex !important;
  bottom: -34px !important;
  width: 50%;
  justify-content: flex-start;
  gap: 90%;
  left: 38px;
  z-index: 2;
}

.owl-prev, .owl-next {
  content: none;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.owl-prev span, .owl-next span {
  color: transparent;
}

.owl-prev {
  left: 50% !important;
  background-image: url("../img/arrow-grey-left.svg") !important;
}

.owl-next {
  right: 100px !important;
  background-image: url("../img/arrow-gley-right.svg") !important;
}

@media (max-width: 1024px) { /* Адаптация под $large-screen */
  .owl-prev {
    left: 0 !important;
  }
  .owl-next {
    right: 0 !important;
  }
}
/* Стили для индикаторов (dots) */
.owl-dots {
  display: flex !important;
  position: absolute;
  bottom: -24px !important;
  left: 65px;
  display: flex;
  justify-content: flex-start;
  width: 40%;
  z-index: 2;
}

@media (max-width: 1024px) {
  .owl-dots {
    right: 0 !important;
  }
}
.owl-dot {
  width: 20px !important;
  height: 20px !important;
  border-radius: 100% !important;
  background-color: #d9d9d9 !important;
  margin: 0 3px;
  transition: opacity 0.6s ease;
}

.owl-dot.active {
  background-color: #007bff !important; /* заменил $color-blue на стандартный синий */
}

.registration-form__input {
  font-size: 16px;
  padding: 12px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
}
.registration-form__input--white-transparent {
  border-color: #FFFFFF;
  background: transparent;
}
.registration-form__input--white-transparent::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.registration-form__input--black-transparent {
  border-color: #000000;
  background: transparent;
}
.registration-form__input--black-transparent::placeholder {
  color: #666666;
  font-size: 16px;
}

/*
@import 'global';
@import 'mixins';
@import 'blocks/footer';
@import 'blocks/buttons';
@import 'blocks/card';
@import 'blocks/hero';
@import 'blocks/form';
@import 'blocks/grid';
@import 'pages/home';
@import 'pages/about';
@import 'pages/services';
@import 'pages/contact';
@import 'responsive';*/

/*# sourceMappingURL=style.css.map */
