/*body {
  font-family: $font-main;
  font-size: $font-size-base;
  color: $text-color;
  background: $background-color;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $padding
}*/