@use './variables'as *;
@use './mixins'as *;
@use 'responsive'as *;


.card-group {
  overflow: hidden;
  text-align: center;
  padding: 62px 0;
  &__title {
    @include coresans(800);
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 80px;
    @media (max-width: $large-screen) {
      font-size: 30px;
    }
  }
  &__subtitle {
    @include montserrat(500);
    font-size: 18px;
    line-height: 150%;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__image{
    border-radius: 25px;
    width: 100%;
  }
  &__item {
    text-align: center;
    padding:  20px;
    &-wrapper {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      background: #fafaff;
      border-radius: 25px;
      padding:  32px;
      height: 100%;
      &-text {
        background: #fafaff;
        border-radius: 25px;
        height: 100%;
        padding:  10px 0;
        position: relative;
        margin-top: -25px;
      }
    }

    &-image {
      margin-bottom: 24px;
    }
    &-title {
      @include coresans(800);
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 24px;
    }
    &-subtitle {
      @include coresans(800);
      font-size: 80px;
      line-height: 120%;
      text-align: right;
      padding: 48px 0 16px;
    }
    &-text {
      @include montserrat(500);
      font-size: 16px;
      line-height: 150%;
    }
    &-link {
      position: relative;
      @include montserrat(500);
      font-size: 16px;
      line-height: 150%;
      text-decoration: none;
      cursor:pointer;
      color:$color-blue;
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 23%;
        left: 100%;
        background: url("../img/arrow_link.svg") no-repeat;
        margin: 0 8px;
        width: 100%;
        height: 100%;

      }
      &:hover  {
        text-decoration: underline;

      }

    }
  }
}

.insert {
  margin: 32px 0;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
  @media (max-width: $large-screen) {
    padding: 20px;
  }
  &__img {

  }
  &__title {
    @include coresans(800);
    font-size: 40px;
    line-height: 120%;
    @media (max-width: $large-screen) {
      font-size: 30px;
    }
  }
  &__description {
    @include montserrat(500);
    font-size: 18px;
    line-height: 150%;
    @media (max-width: $large-screen) {
      font-size: 16px;
    }
  }
  @media (max-width: $large-screen) {
    .registration-form__button {
      width: 100%;
    }
  }

}

/* СЕКЦИЯ FAQ */
.section-faq {
  overflow: hidden;
  text-align: left;
  position: relative;
  color: $color-black;
  &__title {
    @include coresans(800);
    font-size: 48px;
    line-height: 120%;
    @media (max-width: $large-screen) {
      font-size: 30px;
    }
  }
  &__subtitle {
    @include montserrat(500);
    font-size: 18px;
    line-height: 150%;
    @media (max-width: $large-screen) {
      font-size: 16px;
    }
  }
}

/* Контент FAQ */
.faq-content {
  border-radius: 25px;
  padding: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fafaff;
  margin: 60px 0;
  @media (max-width: $large-screen) {
    padding: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  &-li {
    border-top: 1px solid $color-black;;
    padding: 23px 0;
    @media (max-width: $large-screen) {
      padding: 15px 0;
    }
    &:not(.active) .faq-content-text {
      display: none;
    }
    &:not(.active) .footer-submenu-ul {
      display: none;
    }
    &.active {
      .faq-title {
        fill: $color-black;;
        color: $color-black;;
        svg {
          overflow: visible;
          transform: rotate(180deg);
          transition: transform 0.6s ease-in-out;
        }
      }
    }
  }
  &-text {
    width: 92%;
    @include montserrat(600);
    padding-top: 23px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
}
/* Заголовки FAQ */
.faq-title {
  display: flex;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;

  p {
    width: 92%;
    margin: 0;
    @include coresans(800);
    font-size: 18px;
    line-height: 150%;
  }
  &:hover {
    color: $color-blue;
  }
}
/* Группа кнопок FAQ */
.faq-button-group {
  margin-top: 30px;
  color: $color-black;
    &__title {
    @include coresans(800);
    font-size: 48px;
    line-height: 120%;
    @media (max-width: $large-screen) {
      font-size: 30px;
    }
  }
  &__subtitle {
    @include montserrat(500);
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 0;
    @media (max-width: $large-screen) {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  &__button {
    @media (max-width: $large-screen) {
      flex-wrap: wrap;
    }
  }

}
.wrapper-blue {
  background-color: $color-blue;
}

/*Секция текстовая блог низ*/
.marketing-block {
  padding: 112px 0;
  &__wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: #fafaff;
    border-radius: 25px;
    overflow: hidden;

  }
  &__title {
    @include coresans(800);
    font-size: 40px;
    line-height: 120%;
    @media (max-width: $large-screen) {
      font-size: 30px;
    }
  }
  &__subtitle {
    @include coresans(800);
    font-size: 18px;
    line-height: 150%;
  }


  &__description {
    @include montserrat(500);
    font-size: 18px;
    line-height: 150%;
  }

  &__card {
    height: 100%;
    background: #fafaff;;
    padding: 18px;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

  }
  &__card--insert {
    height: 100%;
    background: #fafaff;;
    padding: 18px;
    border-radius: 25px;
    box-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__card-title {
    @include coresans(800);
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
  }
  &__card-title-fs96 {
    @include coresans(800);
    font-weight: 800;
    line-height: 140%;
    font-size: 96px;
  }

  &__image {
    max-width: 100%;
    border-radius: 25px;
  }
  &__image-wrapper-right {
    max-width: 100%;
    border-radius: 0 0 0 100px;
    @media (max-width: $large-screen) {
      display: none;
    }
  }
  &__image-wrapper-left {
    max-width: 100%;
    border-radius: 0 100px 0 0;
    @media (max-width: $large-screen) {
      display: none;
    }
  }
}

/*секция со слайдером*/
.card-slider {
  overflow: hidden;
  text-align: center;
  padding: 62px 0;
  .custom-testimonials__look-all {
    @media (max-width: $large-screen) {
      top: 50px;
    }
  }
  &__title {
    @include coresans(800);
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 80px;
    @media (max-width: $large-screen) {
      font-size: 30px;
    }
  }
  &__subtitle {
    @include montserrat(600);
    font-size: 14px;
    line-height: 150%;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__image{
    border-radius: 25px;
    width: 100%;
  }
  &__item {
    text-align: center;
    padding:  20px;
    &-tab {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
      background: #fafaff;
      border-radius: 5px;
      padding: 4px 8px;
      @include montserrat(600);
      font-size: 14px;
      line-height: 150%;
      margin-right: 16px;


    }
    &-timer {
      @include montserrat(600);
      font-size: 14px;
      line-height: 150%;

    }

    &-wrapper {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      background: #fafaff;
      border-radius: 25px;
      padding:  32px;
      height: 100%;
      &-text {
        background: #fafaff;
        border-radius: 25px;
        height: 100%;
        padding:  10px 0;
        position: relative;
        margin-top: -25px;
      }
    }

    &-image {
      margin: -32px -32px 24px -32px;

    }
    &-title {
      @include coresans(800);
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 24px;
    }
    &-subtitle {
      @include coresans(800);
      font-size: 80px;
      line-height: 120%;
      text-align: right;
      padding: 48px 0 16px;
    }
    &-text {
      @include montserrat(500);
      font-size: 16px;
      line-height: 150%;
    }
    &-link {
      position: relative;
      @include montserrat(500);
      font-size: 16px;
      line-height: 150%;
      text-decoration: none;
      cursor:pointer;
      color:$color-black;
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 24%;
        left: 100px;
        background: url("../img/arrow_link.svg") no-repeat;
        margin: 0 8px;
        width: 100%;
        height: 100%;
        filter: invert(1) grayscale(1) brightness(0)

      }
      &:hover  {
        text-decoration: underline;

      }

    }
  }
}
.owl-nav {
  position: absolute;
  display: flex !important;
  bottom: -34px !important;
  width: 50%;
  justify-content: flex-start;
  gap: 90%;
  left: 38px;
  z-index: 2;
  @media (max-width: $large-screen) {
    width: 100%;
    left: 0;
  }

}


.owl-prev, .owl-next {
  content: none;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  span {
    color: transparent;
  }
}

.owl-prev {
  left: 50% !important;
  background-image: url("../img/arrow-grey-left.svg") !important;

}

.owl-next {
  right: 100px !important;
  background-image: url("../img/arrow-gley-right.svg") !important;
}

@media (max-width: 1024px) { /* Адаптация под $large-screen */
  .owl-prev {
    left: 0 !important;
  }
  .owl-next {
    right: 0 !important;
  }
}

/* Стили для индикаторов (dots) */
.owl-dots {
  display: flex !important;
  position: absolute;
  bottom: -24px !important;
  left: 65px;
  display: flex;
  justify-content: flex-start;
  width: 40%;
  z-index: 2;
  @media (max-width: $large-screen) {
    width: 80%;
  }

}

@media (max-width: 1024px) {
  .owl-dots {
    right: 0 !important;
  }
}

.owl-dot {
  width: 20px !important;
  height: 20px !important;
  border-radius: 100% !important;
  background-color: #d9d9d9 !important;
  margin: 0 3px;
  transition: opacity 0.6s ease;
}

.owl-dot.active {
  background-color: #007bff !important; /* заменил $color-blue на стандартный синий */
}