@use '../responsive'as *;
@use '../variables'as *;
@use '../mixins'as *;

.stars_bg2 {
  background: url("../img/stars_bg2.svg") no-repeat;
  background-position: calc(50% - 15%) center;
}
.blue-divider {
  height: 50px;
  background: url("../img/relumewebflow.svg") repeat-x center , $color-blue;
}