@use '../variables'as *;
@use '../mixins'as *;
@use '../responsive'as *;
.header {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;



  &.active {
    background-color: $color-blue;
  }
  .navbar {
    background-color: $color-blue;
    border-radius: 0 0 25px 25px;
    max-width: calc(1320px + 80px);
    margin: auto;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  &-nav {
   @include coresans(800);

    font-size: 15px;
    line-height: 150%;
  }
}




.navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
  color: #fff;

}
.navbar-dark .navbar-nav .nav-link:hover
{   color: #fff;
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
}

.header__button {
  border: 1px solid #fff;
  border-radius: 27px;
  padding: 8px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  transition: 0.1ms;
}

.header__button:hover {
  background-color: #fff;
  color:  #2961AB;
}

.header__nav-text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}



@media (max-width: $large-screen) {

  .header__buttons {
    z-index: 2;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .show .header__buttons {
    margin: 70px auto;



  }

  .show .navbar-nav {
    padding-top: 100px;
  }


  .show .header__button {
    border: 1px solid #67B3A5;
    border-radius: 27px;
    padding: 8px 20px;
    color: #67B3A5;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.1ms;
  }


  .header__burger-icon {
    z-index: 2;
    border: transparent;
    background: transparent;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    content: "";

  }

  path {
    transition: transform 0.25s;
  }
  .active path:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: -1px 3px;

  }
  .active path:nth-of-type(2) {
    display: none;

  }
  .active path:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 0px 13px;

  }

  .header__burger {
    display: flex;
    z-index: 99;
  }
}