@use '../variables'as *;
@use '../mixins'as *;
@use '../responsive'as *;

.header {
  &.active,
  .navbar {
    background-color: $color-blue;
    border-radius: 0 0 25px 25px;
  }
  &.active {
    padding-bottom: 20px;
  }
  .navbar {
    max-width: calc(1320px + 80px);
    margin: auto;
    &-nav {
      @include coresans(800);
      font-size: 15px;
      line-height: 150%;
    }
  }
  .navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
    color: $color-white;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      text-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 8px 20px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      background-color: $color-white;
      color: $color-blue;
    }
  }
  &__nav-text {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }
  @media (max-width: $large-screen) {
    .navbar-collapse {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .show {
      .header__buttons {
        order: 1;
        padding-top: 10px;
      }
      .navbar-nav {
        order: 2;
        margin-right: auto;
      }
      .header__button {
        border: 1px solid #67B3A5;
        color: #67B3A5;
      }
    }
    .header__burger {
      display: flex;
      z-index: 2;
      &-icon {
        z-index: 2;
        border: transparent;
        background: transparent;
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
      }
    }
    path {
      transition: transform 0.25s;
    }
    .active {
      path:nth-of-type(1) {
        transform: rotate(45deg);
        transform-origin: -1px 3px;
      }
      path:nth-of-type(2) {
        display: none;
      }
      path:nth-of-type(3) {
        transform: rotate(-45deg);
        transform-origin: 0px 13px;
      }
    }
  }
}

